body {
	text-align: center;
	font-family: Arial, sans-serif;
}

h1 {
	margin-top: 50px;
}

.options {
	margin-top: 50px;
	display: flex;
	justify-content: center;
}

button {
	margin: 0 10px;
	padding: 10px 20px;
	font-size: 20px;
	background-color: #ddd;
	border: none;
	border-radius: 5px;
	cursor: pointer;
}

button:hover {
	background-color: #bbb;
}

#result {
	margin-top: 50px;
	font-size: 24px;
	font-weight: bold;
}
